# Ignore everything by default
*

# Opt specific extension back into version control.
!.clang-format
!.gitignore
!LICENSE
!/Makefile
!/*.md
!/*.mk
!/*.sh
!/*.py

!/include/
!/include/ppb/
!/include/ppb/*.h

!/src/
!/src/*.c
!/src/*.h

!/examples/
!/examples/*.c

!/stubs-for-frama-c/
!/stubs-for-frama-c/*.h
!/.docker/
!/.docker/Dockerfile

!/fuzz/
!/fuzz/*.c
!/fuzz/*.py

!/tests/
!/tests/*.c

!/testdata/
!/testdata/*.hex
!/testdata/*.expected
!/testdata/invalid/
!/testdata/invalid/*.hex
!/testdata/invalid/*.expected-error

!/.github
!/.github/workflows/
!/.github/workflows/ci.yml
!/.codecov.yml
